@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: oklch(100% 0 0);
    --color-foreground: oklch(0% 0 0);
    --color-divider: oklch(17% 0 0 / 17%);

    --color-primary: oklch(0% 0 0);
    --color-primary-50: oklch(12% 0.0002 280);
    --color-primary-100: oklch(25% 0.0004 282);
    --color-primary-200: oklch(40% 0.0006 284);
    --color-primary-300: oklch(55% 0.0008 285);
    --color-primary-400: oklch(70% 0.001 285.5);
    --color-primary-500: oklch(80% 0.0011 286);
    --color-primary-600: oklch(88% 0.0012 286.2);
    --color-primary-700: oklch(93% 0.00125 286.3);
    --color-primary-800: oklch(96.74% 0.0013 286.38);
    --color-primary-900: oklch(100% 0 0);
}

@layer theme {
    .dark {
        --color-background: oklch(0% 0 0);
        --color-foreground: oklch(100% 0 0);
        --color-divider: oklch(83% 0 0 / 17%);

        --color-primary: oklch(100% 0 0);
        --color-primary-50: oklch(96.74% 0.0013 286.38);
        --color-primary-100: oklch(93% 0.00125 286.3);
        --color-primary-200: oklch(88% 0.0012 286.2);
        --color-primary-300: oklch(80% 0.0011 286);
        --color-primary-400: oklch(70% 0.001 285.5);
        --color-primary-500: oklch(55% 0.0008 285);
        --color-primary-600: oklch(40% 0.0006 284);
        --color-primary-700: oklch(25% 0.0004 282);
        --color-primary-800: oklch(12% 0.0002 280);
        --color-primary-900: oklch(0% 0 0);
    }
}

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Plus Jakarta Sans", serif;
}

.Toastify__toast-icon {
    width: auto;
    align-items: center;
}